.card {
    margin-top: 5rem;
    min-width: 400px;
    min-height: 200px;
    border: 1px solid #000;
    border-radius: 1rem;
    background-color: #fff
}

.flex-column{
    text-align: center;
    padding: 0.1rem;
}

#currentusername {
    text-align: center;
    font-weight: 800;
}

.with-video{
    display: flex;
    margin: 2rem;
}

#youtubediv {
    margin-top: 8rem;
}

iframe {
    margin-left: 2rem;
    border-radius: 1rem;
}

.exercise-display-box{
border: 2px solid rgb(160, 148, 148);
  border-radius: 0.5rem;
  padding: 0.8rem;
  font: 18px/28px Georgia, Garamond;
  width: 900px;
  height: 300px;
  overflow: auto;
  background-color:rgb(235, 235, 235);
  line-height: 2;
  margin-bottom: 3rem;
  margin-top: 3rem;
  
}

form {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    
}

input{
    margin: 0.5rem;
}

.submit-button {
    width: 140px;
    height: 35px;
    border-radius: 10px;
    background-color: #f4623a;
    font-weight: 800;
    text-align: center;

}










.answer-container {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
   
}

.answer-box-bottom {
    width: 300px;
    height: 230px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.display-box {
    display: flex;
    justify-content: center;
}

.pricing-divider {
    background: #f4623a;
    position: relative;
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  
    }

ul li {
    margin-bottom:0.5rem;

  }

 
    .blue .pricing-divider{
    background: #4481eb; 
    }
    
    .red b {
      color:#f4623a;

      
    }
    .blue b {
      color:#4481eb;
    }
    
    
    color:#f4623a;

    
    .princing-item {
      transition: all 150ms ease-out;
    }
    .princing-item:hover {
      transform: scale(1.05);
    }
    .princing-item:hover .deco-layer--1 {
      -webkit-transform: translate3d(15px, 0, 0);
      transform: translate3d(15px, 0, 0);
    }
    .princing-item:hover .deco-layer--2 {
      -webkit-transform: translate3d(-15px, 0, 0);
      transform: translate3d(-15px, 0, 0);
    }



