
.card {
    margin-top: 5rem;
    min-width: 400px;
    min-height: 200px;
    border: 1px solid #000;
    border-radius: 1rem;
    background-color: #fff
}

.flex-column{
    text-align: center;
    padding: 0.1rem;
}

#currentusername {
    text-align: center;
    font-weight: 800;
}

.with-video{
    display: flex;
    margin: 3rem;
}


@media (max-width:992px){

  .with-video{
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
     
  }
}

#youtubediv {
    margin-top: 8rem;
}

iframe {
    margin-left: 2rem;
    border-radius: 1rem;
}

.exercise-display-box{
border: 2px solid rgb(160, 148, 148);
  border-radius: 0.5rem;
  padding: 0.8rem;
  font: 18px/28px Georgia, Garamond;
  width: 900px;
  height: 450px;
  overflow: auto;
  background-color:rgb(235, 235, 235);
  line-height: 2;
  margin-bottom: 3rem;
  
}

@media (max-width:992px){

  .exercise-display-box{
    border: 2px solid rgb(160, 148, 148);
    border-radius: 0.5rem;
    padding: 0.8rem;
    font: 18px/28px Georgia, Garamond;
    width: 90vw;
    height: 450px;
    overflow: auto;
    background-color:rgb(235, 235, 235);
    line-height: 2;
    margin-bottom: 3rem;
     
  }
}









form {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    
}

input{
    margin: 0.5rem;
}

.submit-button {
    width: 140px;
    height: 35px;
    border-radius: 10px;
    background-color: #f4623a;
    font-weight: 800;
    text-align: center;

}










h1 {
    font-size: 60px;
    color: #4480ff;
    display: flex;
    justify-content: space-evenly;
  
    span.text {
      padding: 0;
      padding-right: 4px;
      border-right: 2px solid #747474;
      animation: blink 0.75s infinite;
    }
  
    
  
  @keyframes blink {
    from {
      border: none;
    }
    to {
      border-color: 2px solid #747474;
    }
  }
  @media screen and (max-width: 670px) {
    h1 {
      font-size: 40px;
    }
    img {
      width: 75px;
      height: 75px;
    }
  }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 32px;
    }
  }
  

    
  





