#chat-box{
  position: absolute;
  bottom: -550px;
  right: 55px;
  width: 65px;
  height: 60px;
  color: #2b2e4a;
}



#dropdownMenuButton2 {
  background-color: #2b2e4a;
  border: none;
}



.guest-only {
  display: none;
}

body.guest .guest-only{
  display: initial;
}

body.guest .not-guest{
  display: none;
}







.chat-popup{
  display: none;
  position: fixed;
  bottom:80px;
  right:120px;
  height: 400px;
  width: 300px;
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  border-radius: 10px;
  overflow: auto;
  scrollbar-color: rgb(244, 98, 58) white;
}

/* .form-outline{
  display: block;
  overflow: auto;
} */

.btn-dictionary{
  height: 38px;
  width: 38px;
  background-color: rgb(244, 98, 58);
  padding-left: 10px;
}



#search{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  
}

.fa-search{
  color: white;
}

.form-label{
  font-size: medium;
}

.fa-book-open{
  font-size: 200px;
  opacity: 70%;
  display: block;
  color: rgb(244, 98, 58);
}

.beforeSearch{
  display: initial; 
}

.dict-hidden .beforeSearch{
  display: none;
}

.fa-atlas{
  font-size: 180px;
  opacity: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: rgb(244, 98, 58);
  /* display: none; */
}

/* .dict-hidden .fa-atlas{
  display: none;
} */

.dict-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  color: rgb(244, 98, 58);
  opacity: 70%;
  font-size: 20px;
  font-weight: bold;
  /* display: initial; */
}

/* .dict-hidden .dict-text{
  display: none;
} */

.partOfSpeechUI{
  color: white;
  background-color: rgb(38, 96, 184);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: 25px;
  font-size: 15px;
  border-radius: 3px;
}

.show{
  display: flex;
}

.chat-area{
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .income-msg{
  display: flex;
  align-items: center;
}

.avatar{
  width:45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.income-msg .msg{
  background-color: dodgerblue;
  color: white;
  padding:0.5rem;
  border-radius: 25px;
  margin-left: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
} */



.input-area{
  position: relative;
  display: flex;
  justify-content: center;
}

input[type="text"]{
  width:100%;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 5px;
  height: 2.2rem;
}



.submit{
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  background-color: green;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  opacity: 0.7;
}


.out-msg{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.my-msg{
  display: flex;
  justify-content: flex-end;
  margin: 0.75rem;
  padding: 0.5rem;
  background-color: #ddd;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  word-break: break-all;
}


@media (max-width:500px){

  .chat-popup{
      bottom: 150px;
      right:20%;
      width: 60vw;
  }
}