.notebook {  
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 3rem 1rem;
  padding: 3rem 0;
  border-top: 4px solid #CCC;

}

#vocab-card-controller{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.left{
  justify-content: left; 
}

.notebook-icon{
  color: #2b2e4a;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
  position: absolute;
  left: 200px;
  top: 8px;
  
}

#dropdownMenuButton2 {
  background-color: #2b2e4a;
  border: none;
}