.video-section {
  display: flex;
   flex-wrap: wrap;
    justify-content: center; 
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; */
  gap: 1rem 1rem;
  padding: 1rem 0;
  margin: 0 1.5rem;
  /* border-top: 4px solid #CCC; */
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  /* flex-direction: column; */
  margin-right: 2rem;

}




.video-bottom-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-top: 1rem;
  align-items: center;
}

/* .channel-icon {
  margin-right: .75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
} */

/* .video-details {
  display: flex;
  flex-direction: column;
} */

/* .video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-decoration: none;
  color: black;
} */

/* .video-channel-name {
  margin-bottom: .1rem;
  margin-left: .5rem;
  text-decoration: none;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
} */

/* .video-channel-name,
.video-metadata {
  color: #555;
} */

.video-section-title {
  /* grid-column: 1 / -1;
  margin: -.5rem 0; */
  /* ****** hard code ******** */
  /* margin-left: 8rem; */
  display: flex;
  justify-content: center;
  font-weight: 800;
  /* align-items: center; */
  padding: 2rem  1rem 1rem  2rem;
}

.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}

.videos {
  margin-top: 100px;
 
}


textarea {
  width: 400px;
  height: 400px;
}


a.button2{
display:inline-block;
padding:0.3em 1em;
border:0.1em solid #f4623a;
background-color: #f4623a;
border-radius: 25px;
margin:0 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration:none;
/* text-transform:uppercase; */
/* font-family:'Roboto',sans-serif; */
font-weight:400;
color:#000;
text-align:center;
font-weight: 800;
transition: all 0.5s;
}
a.button2:hover{
color:#fff;
border-color:#fff;
}
/* a.button2:active{
color:#BBBBBB;
border-color:#BBBBBB;
} */
@media all and (max-width:30em){
a.button2{
display:block;
margin:0.4em auto;
}
}

/* .btnSeek {
	cursor:pointer;
}	
.btnSeek:active {
    background-color: rgb(255, 200, 98);
}
.btnSeek:hover {
    background-color: rgb(184, 184, 184);
}  */

.subtitle-box {
  border: 2px solid rgb(160, 148, 148);
  border-radius: 1rem;
  padding: 0.8rem;
  font: 18px/28px Georgia, Garamond;
  width: 450px;
  height: 350px;
  overflow: auto;
  background-color:rgb(235, 235, 235);
  line-height: 2
  }


  .subtitle-box span:hover {
    background: yellow;
    cursor: pointer;
}

.chat-popup{
  display: none;
  position: fixed;
  bottom:80px;
  right:120px;
  height: 400px;
  width: 300px;
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  border-radius: 10px;
  overflow: auto;
  scrollbar-color: rgb(244, 98, 58) white;
}

#search{
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  
}



.btn-dictionary{
  height: 38px;
  width: 38px;
  background-color: rgb(244, 98, 58);
  padding-left: 10px;
}

.fa-search{
  color: white;
}

.form-label{
  font-size: medium;
} 

.fa-plus-circle{
  float: right;
}


.close{
	color: #000;
  font-weight: 800;
	cursor: pointer;
}

.show{
  display: flex;
}


/* #f4623a */
