.subtitle-box {
    border: 2px solid rgb(160, 148, 148);
    border-radius: 1rem;
    padding: 0.8rem;
    font: 18px/28px Georgia, Garamond;
    width: 450px;
    height: 350px;
    overflow: auto;
    background-color:rgb(235, 235, 235);
    line-height: 2
    }
  
  
    .subtitle-box span:hover {
      background: yellow;
      cursor: pointer;
  }
  
  .chat-popup{
    display: none;
    position: fixed;
    bottom:80px;
    right:120px;
    height: 400px;
    width: 300px;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: auto;
    scrollbar-color: rgb(244, 98, 58) white;
  }
  
  .btn-dictionary{
    height: 38px;
    width: 38px;
    background-color: rgb(244, 98, 58);
    padding-left: 10px;
  }
  
  .fa-search{
    color: white;
  }
  
  .form-label{
    font-size: medium;
  } 
  
  .fa-plus-circle{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-left: auto;
  }
  
  .show{
    display: flex;
  }
  
  