
.video-section {
  display: flex;
   flex-wrap: wrap;
    justify-content: center; 
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; */
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #CCC;
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin: 25px
}




.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.channel-icon {
  margin-right: .75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}

.video-details {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-decoration: none;
  color: black;
}

.video-channel-name {
  margin-bottom: .1rem;
  text-decoration: none;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
}

.video-channel-name,
.video-metadata {
  color: #555;
}

.video-section-title {
  /* grid-column: 1 / -1;
  margin: -.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem; */
  display: flex;
  /* justify-content: center; */
  font-weight: 800;
  /* align-items: center; */
  padding: 2rem 1rem 1rem 2rem;
  margin-left: 7.5vw;
}

.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}

.videos {
  margin-top: 80px;
  background-color: #F9F9F9;
}

body{
  background-color: #F9F9F9;
}

#dropdownMenuButton2 {
  background-color: #2b2e4a;
  border: none;
}